main a {
    color: blue;
}
main a:visited {
    color: navy;
}
main a.selected {
    font-weight: bold;
}
fieldset {
    margin: 2px 0;
    padding:  0.35em 0.75em 0.75em 0.625em;
    border-width: 1.5px;
}
legend {
    padding: 2px 2px;
    font-weight: bold;
    font-size: 14px;
}


aside {
    width: 230px;
    float: left;
}
aside ul {
    list-style-type: none;
}
aside h1 {
    padding: 0 0.8em;
    border-bottom: 1px solid #999;
    font-weight: normal;
    color: #777;
    background: #eee;
    font-size: 20px;
    width: 230px;
    min-height: 62px;
    max-height: 62px;
    line-height: 62px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
aside h3 {
    margin-bottom: 5px;
}


article {
    padding-left: 10px;
    overflow: hidden;
}
article > h2 {
    padding: .8em 1em;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: normal;
    background: #ddf;
    min-height: 62px;
    max-height: 62px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


/* Blacklist Page
--------------------------------------------------------------------------------*/
.blacklist_table .row {
    display: flex;
    font-size: 13px;
    padding: 3px 0;
    align-items: center;

}

.blacklist_table .row:first-child {
    border-bottom: 1px solid #ccc;
}
.blacklist_table .row:nth-child(even) {
    background: #F5F5F5;
}

.blacklist_table .row .fieldtype {
    display: block;
    min-width: 120px;
    padding-left: 3px;
}
.blacklist_table .row .fieldval {
    display: block;
    min-width: 200px;
}
.blacklist_table .row .blacklisted_utc {
    display: block;
    min-width: 200px;
}
.blacklist_table .row .blacklisted_by {
    display: block;
    min-width: 200px;
}
.blacklist_table .row .attempts {
    display: block;
    min-width: 100px;
}
.blacklist_table .row input[type=submit] {
    font-size: 11px;
    padding: 2px;
}


/* App View
--------------------------------------------------------------------------------*/
.App__view {
    background: #f0f0f0;
    max-width: 1100px;
    margin-bottom: 10px;
}
.App__head {
    background: #ddf;
    color: #000;
    padding: 2px 5px;
}
.App__main {
    display: -webkit-flex;
    display: flex;
}
.App__main > * {
    width: 50%;
    box-sizing: border-box;
}
.App__main > *:last-child {
    border-left: 1px solid #bbb;
}
.App__main > * > h3 {
    background: #ccc;
    font-size: 14px;
    padding-left: 5px;
}

.App__main dl {
    display: block;
}
.App__main dl dt,
.App__main dl dd {
    border-top: 1px solid #ccc;
    padding: 1px 5px;
}
.App__main dl dt {
    display: block;
    font-weight: bold;
    float: left;
    width: 150px;
    font-size: 12px;
    color: #202020;
    text-transform: uppercase;
}
.App__main dl dd {
    display: block;
    margin-left: 150px;
    font-size: 14px;
}
.App__main dl dd a {
    font-size: 12px;
}

.App__main dl dt:before {
    content: '';
    display: table;
}
.App__main dl dd:after {
    content: '';
    display: table;
    clear: both;
}
.App__main button[type=submit][name=action] {
    padding: 2px;
    margin-top: 5px;
    min-width: 100px;
    margin-right: 25px;
}

/* History Page
--------------------------------------------------------------------------------*/
.App__historyNav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.App__historyNav p {
    margin-right: 8px;
}
.App__historyNav button {
    margin-left: 2px;
    padding: 1px 3px;
}