main {
    background: #EEF2F5;
}
body, main {
    min-height: 100vh;
}

.page--clans_recruitform header {
    display: none;
}

/* ASIDE
--------------------------------------------------------------------------------*/
aside {
    background: white;
    padding: 10px 20px 10px 10px;
    width: 310px;
    box-sizing: border-box;
    float: right;
}
aside ul {
    padding-left: 30px;
    color: hsla(232,20%,32%,0.95);
    line-height: 22px;
    font-size: 13px;
}
aside ul li {
    margin-bottom: 6px;
}
aside h3 {
    margin-bottom: 8px;
    color: hsla(232,20%,32%,0.5);
}
aside small {
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
    font-size: 9.5px;
    display: block;
    line-height: 14px;
    color: rgba(0,0,0,0.45);
}
aside {
    position: relative;
    margin-top: 34px;
}
aside h3 {
    position: absolute;
    bottom: 100%;
    background: white;
    display: block;
    padding: 10px 20px 0px 10px;
    left: 0;
    margin: 0;
}

/* BANNER
--------------------------------------------------------------------------------*/
.banner {
    background: no-repeat center top / cover;
    color: #fff;
    height: 215px;
    box-sizing: border-box;
    margin: -22px -20px 0;
}

.banner h1 {
    margin: 0;
    display: block;
    text-transform: uppercase;
    padding: 70px 20px 0;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 24px;
    text-shadow: 0 1px 5px black;
}

.banner__links {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}
.banner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    transition: all 200ms ease;
    width: 60px;
    height: 60px;
    opacity: 0.75;
}
.banner__link:hover {
    opacity: 1;
}
.banner__link > span {
    display: none;
}
.banner__link > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* FORM
--------------------------------------------------------------------------------*/
.form {
    overflow: hidden;
    margin-right: 340px;
    box-sizing: border-box;
}
.form__head {
    position: absolute;
    margin-top: -30px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    background: rgba(255,255,255,0.1);
    left: 0;
    right: 360px;
    padding: 0 20px;
}

.field {
    background: white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.field h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.field__head span {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.field__head h3 + span {
    display: block;
    margin-top: -5px;
}
.field__head h3:before {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #000;
    margin: 2px 0 0px 0;
}
.not-logged-in .form__main .field__head h3:before {
    opacity: 0.2;
}
.field__input {
    margin-top: 5px;
}
.field__input input[type=text],
.field__input input[type=url],
.field__input textarea {
    background: #fff;
    padding: 5px;
    min-width: 400px;
    font-size: 16px;
    border: 1px solid #a5a5a5;
    font-family: Roboto, 'sans-serif';
}
.field__input input[type=text][disabled],
.field__input input[type=url][disabled],
.field__input textarea[disabled] {
    border-color: #d5d5d5;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .field__input input[type=text],
    .field__input input[type=url],
    .field__input textarea {
        border-width: .5px;
    }
}
.field__input input[type=text]:focus,
.field__input input[type=url]:focus,
.field__input textarea:focus {
    outline: 0;
    border-color: #b78c25;
}

.form input[type=submit],
.discord-login-button {
    display: block;
    border: 1px solid #b78c25;
    background-color: #b78c25;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    min-width: 300px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 200ms ease;
}
.form input[type=submit]:hover,
.discord-login-button:hover {
    background: rgba(255,255,255,0.15);
    color: #000;
}

.discord-logout-button {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #777;
    padding: 2px 2px 2px 0;
}
.discord-logout-button:hover {
    color: #333;
}
.discord-logout-button:before {
    content: ' - ';
    color: #bbb;
}

/* REGION MAP
--------------------------------------------------------------------------------*/
[data-continent] {
    cursor: pointer;
}

.hovered--north_america [data-continent='north america'] {
    fill: #999;
}
.selected--north_america [data-continent='north america'] {
    fill: #b78c25;
}

.hovered--south_america [data-continent='south america'] {
    fill: #999;
}
.selected--south_america [data-continent='south america'] {
    fill: #b78c25;
}

.hovered--europe [data-continent='europe'] {
    fill: #999;
}
.selected--europe [data-continent='europe'] {
    fill: #b78c25;
}

.hovered--asia [data-continent='asia'] {
    fill: #999;
}
.selected--asia [data-continent='asia'] {
    fill: #b78c25;
}

.hovered--oceania [data-continent='oceania'] {
    fill: #999;
}
.selected--oceania [data-continent='oceania'] {
    fill: #b78c25;
}

.hovered--africa [data-continent='africa'] {
    fill: #999;
}
.selected--africa [data-continent='africa'] {
    fill: #b78c25;
}

.hovered--middle_east [data-continent='middle east'] {
    fill: #999;
}
.selected--middle_east [data-continent='middle east'] {
    fill: #b78c25;
}

/* Region Selector
--------------------------------------------------------------------------------*/
#RegionSelector .field__input {
    margin-bottom: 20px;
}

.RegionOption, .RegionSelectAll {
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 2px rgba(0,0,0,0.15);
    padding: 0 5px;
    line-height: 26px;
    margin-right: 5px;
    border: .5px solid transparent;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
    color: #999;
    text-align: center;
    cursor: pointer;
    transition: all 50ms ease-in;
}

.RegionOption.selected {
    background: hsla(42, 66%, 50%, 1);
    border-bottom: .5px solid hsla(42, 66%, 40%, 1);
    box-shadow: 0 1px 1px hsla(42, 40%, 52%, 1);
    color: #fff;
}

.RegionSelectAll {
    box-shadow: none;
}
.RegionSelectAll:hover {
    background: #f5f5f5;
    border-color: #efefef;
    color: #888;
}


/* Errors
--------------------------------------------------------------------------------*/
.field__errors {
    display: none;
}
.field__errors.enabled {
    display: block;
}
.field__errors.enabled + #RegionSelector__map {
    margin-top: 20px;
}

.field_error {
    display: none;
    color: red;
    margin: 5px 0;
}
.field_error.enabled {
    display: block;
}