.flair-form {
    padding-bottom: 50px;
}
.flair-table {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #999;
    margin-top: 20px;
}
.flair-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    cursor: pointer;
    font-size: 10.5px;
}
.flair-option:not(.flair-option-disabled):hover, .flair-option:not(.flair-option-disabled).selected {
    background: #e0e0e0;
}
.flair-option.flair-option-disabled {
    cursor: default;
}
.flair.flair-none {
    background: #e3e3e3;
}

main h1 {
    display: inline-block;
    border-bottom: 2px solid #000;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.flair-display-inner {
    padding: 10px 20px 10px 10px;
    background: #efefef;
    display: flex;
}

.flair.flair-submit-area {
    margin-top: 5px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.flair-submit-field input[type=text] {
    width: 200px;
}

.flair-option div:last-child {
    max-width: 90px;
    overflow-wrap: break-word;
    line-height: 14px;
    height: 28px;
    text-align: center;
    margin-top: 5px;
}

.flair-search-active .flair-option {
    display: none;
}