/*-------------------------
	Simple reset
--------------------------*/

* { margin: 0; padding: 0; }

html, body {
    overflow-x: hidden;
    min-height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
}

section, footer, header, aside, nav{
    display: block;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    outline: 0 none;
}

a {
    color: #3577BE;
	text-decoration: none;
    outline: 0;
    border: none;
}

a:hover {
	text-decoration: none;
    cursor: pointer;
}

/*
 | Headers
 | ----------------------------------------------------------------------
 */

h1,h2,h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

h4 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/*-------------------------
	Helpers
--------------------------*/

.fl { float: left; }
.flC > * { float: left; }
.fr { float: right; }
.frC > * { float: right; }

.fsplit {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.fsplit2  > * { flex-basis: 50%; }
.fsplit3  > * { flex-basis: 33.33%; }
.fsplit4  > * { flex-basis: 25%; }
.fsplit5  > * { flex-basis: 20%; }
.fsplit6  > * { flex-basis: 16.66%; }
.fsplit7  > * { flex-basis: 14.28%; }
.fsplit8  > * { flex-basis: 12.5%; }
.fsplit9  > * { flex-basis: 11.11%; }
.fsplit10 > * { flex-basis: 10%; }

.valign {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.calign {
    -webkit-justify-content: center;
            justify-content: center;
}

.halign {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
}

.grow {
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
}

.dispBlock { display: block !important; }
.dispInline { display: inline !important; }
.dispInlineBlock { display: inline-block !important; }
.dispFlex { display: -webkit-flex !important; display: flex !important; }
.dispInlineFlex { display: inline-flex !important; }

.textAlignLeft { text-align: left; }
.textAlignRight { text-align: right; }
.textAlignCenter { text-align: center; }
.fontWeight100 { font-weight: 100; }
.fontWeight200 { font-weight: 200; }
.fontWeight300 { font-weight: 300; }
.fontWeight400 { font-weight: 400; }
.fontWeight500 { font-weight: 500; }
.fontWeight600 { font-weight: 600; }
.fontWeight700 { font-weight: 700; }

.posStatic { position: static !important; }
.posRel { position: relative !important; }
.posAbs { position: absolute !important; }
.posFixed { position: fixed !important; }

.clearfix:before,.clearfix:after, .cf:before, .cf:after {content:"";display:table;}
.clearfix:after, .cf:after {clear:both;}
.clearfix, .cf {zoom:1;}
.hide { display: none !important; }

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 10px;
    margin: 30px;
    border-radius: 6px 6px 6px 0;
    line-height: 32px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 2px solid white;
}


/*
 | HTTP Error Pages
 | ----------------------------------------------------------------------
 */
#http-error {
    text-align: center;
    padding-top: 70px;
}

#http-error #tagline {
    text-transform: uppercase;
    color: white;
    letter-spacing: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.42);
    font-size: 22px;
    background: #000;
    padding: 8px 20px;
    display: inline-block;
    margin-bottom: 12px;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}

#http-error > p:not(.tagline) {
    color: rgba(0,0,0,0.55);
    font-size: 15px;
}

/*-------------------------
	Main Layout
--------------------------*/

header {
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-bottom: 2px solid #999;
    background: #fff;
}

header h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    letter-spacing: 4px;
}

main {
    padding: 20px;
}

.user a {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    width: auto;
    min-width: 0;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 25px;
    margin-left: 5px;
}
.user a:hover {
    background: #000;
    color: #fff;
}

.page--discord .user {
    display: none;
}